
<table style="border-collapse: collapse; font-family: Arial; font-size: 12px; width: 100%;">
    <tr>
        <th style="border: 1px solid black; padding: 8px;">Difficulty Level</th>
        <th style="border: 1px solid black; padding: 8px;">Skills/Topics</th>
        <th style="border: 1px solid black; padding: 8px;">Sample Projects</th>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1</td>
        <td style="border: 1px solid black; padding: 8px;">Strings: concat, charAt, substring, common methods (length, equals, compareTo, indexOf, replace, trim, toLowerCase/toUpperCase), formatting</td>
        <td style="border: 1px solid black; padding: 8px;">
            1. <strong>Text Manipulator</strong>: A program that formats user input, removes extra spaces, and changes case.<br>
            2. <strong>Password Validator</strong>: A program that checks password strength using string methods.<br>
            3. <strong>Word Counter</strong>: A program that counts words and characters in a given string.
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">2</td>
        <td style="border: 1px solid black; padding: 8px;">Maths: basic arithmetic operations, rounding methods (Math.round, Math.ceil, Math.floor), random number generation (Math.random), math constants (Math.PI), power (Math.pow) and square root (Math.sqrt), absolute value (Math.abs)</td>
        <td style="border: 1px solid black; padding: 8px;">
            1. <strong>Simple Calculator</strong>: A command-line calculator that performs basic arithmetic operations.<br>
            2. <strong>Random Number Game</strong>: A guessing game that generates a random number and allows the user to guess it.<br>
            3. <strong>Statistics Tracker</strong>: A program that calculates the mean, median, and mode of a list of numbers.
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">3</td>
        <td style="border: 1px solid black; padding: 8px;">Main class: main method signature, command line arguments, printing methods (System.out.println, System.out.print, System.out.printf), Scanner class for user input, escape sequences</td>
        <td style="border: 1px solid black; padding: 8px;">
            1. <strong>User Info Collector</strong>: A program that collects user information and prints it in a formatted way.<br>
            2. <strong>Expense Tracker</strong>: A program that records expenses and displays a summary using user input.<br>
            3. <strong>Simple Quiz</strong>: A quiz program that takes answers from users and provides feedback based on their input.
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">4</td>
        <td style="border: 1px solid black; padding: 8px;">Methods and primitives: int, return types, void, main, static, variable names; method overloading; parameter passing (pass-by-value vs. pass-by-reference); variable scope (local, instance, class); final variables; method documentation (comments, Javadoc)</td>
        <td style="border: 1px solid black; padding: 8px;">
            1. <strong>Math Operations Class</strong>: A class with overloaded methods for performing different math operations.<br>
            2. <strong>Temperature Converter</strong>: A program that converts temperatures using methods with different parameter types.<br>
            3. <strong>Library Management System</strong>: A system that uses various methods for adding, removing, and listing books, with proper documentation.
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">5</td>
        <td style="border: 1px solid black; padding: 8px;">Classes: names, access modifiers (public, private, protected), static methods, constructors (default and parameterized), encapsulation (getters and setters), packages and imports; OOP concepts: inheritance (extends), method overriding</td>
        <td style="border: 1px solid black; padding: 8px;">
            1. <strong>Student Management System</strong>: A program that manages student records using classes, constructors, and encapsulation.<br>
            2. <strong>Vehicle Class Hierarchy</strong>: Create a base class for vehicles and subclasses for cars and bikes, demonstrating inheritance and method overriding.<br>
            3. <strong>Bank Account Simulation</strong>: A program that simulates bank account operations using classes and encapsulation.
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">6</td>
        <td style="border: 1px solid black; padding: 8px;">Using computer: MS-DOS basics (navigation commands, file management), setting environment variables, compiling and running Java programs (javac, java), basic troubleshooting, understanding the Java classpath; Comments and documentation best practices; Javadoc</td>
        <td style="border: 1px solid black; padding: 8px;">
            1. <strong>Project Setup Guide</strong>: A document outlining how to set up a Java project from the command line, including compiling and running programs.<br>
            2. <strong>File Organizer</strong>: A command-line tool that organizes files in a directory based on their extensions.<br>
            3. <strong>Java Environment Checker</strong>: A program that checks if the Java environment is set up correctly and provides troubleshooting tips.
        </td>
    </tr>
</table>

